body {
    background-color:black;
    font-family:arial;
}
h1{
    color:grey;
    font-family:verdana;
    text-align:left;
    margin-left:5%;
    margin-bottom: 50px;
}
#maindiv {
    background-color:white;
    padding: 20px 0px;
    border-radius: 25px;
	margin: 10% 30%;
}
#tags{
	margin-left:25%;
}
footer{
    text-align: left;
    margin-left:5%;
    margin-top: 20px;
}
#principal{
    margin-left: 15%;
}
#rate{
    margin-left: 8%;
}
#years{
    margin-left: 8%;
}
#compute{
    margin-bottom: 20px;
}


